.title {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.cartContent {
  border-top: 2px solid var(--color-gray);
  padding: 1.5rem 0;
}

.cartContent:last-child {
}

.cartSummary {
  border-top: 2px solid var(--color-gray);
  margin-top: 1rem;
  padding: 1.5rem 0;
}
