:root {
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Source Sans Pro", sans-serif;
  --color-primary: #5ece7b;
  --color-dark-1: #1d1f22;
  --color-white: #fff;
  --color-gray: #eee;
  --color-gray-2: #393748;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark-1);
  position: relative;
  min-height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* utility classes */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

/* margins */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

/* widths */
.w-3 {
  width: 6.5rem;
}

/* font size */
.text-xs {
  font-size: 1.3rem;
}

.text-sm {
  font-size: 1.5rem;
}
.text-md {
  font-size: 2rem;
}
.text-lg {
  font-size: 2.5rem;
}

.text-300 {
  font-weight: 300;
}
.text-400 {
  font-weight: 400;
}
.text-500 {
  font-weight: 500;
}
.text-600 {
  font-weight: 600;
}

.text-capitalize {
  text-transform: capitalize;
}
