.productDetails {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  position: relative;
}

.productImagesSmall {
  width: 13rem;
  height: 13rem;
  position: relative;
}

.productImagesSmall:not(:last-child) {
  margin-bottom: 1.5rem;
}

.productImagesSmall img {
  width: 100%;
  height: 100%;
}

.productImagesLarge {
  width: 60rem;
  height: 45rem;
  position: relative;
}

.productImagesLarge img {
  width: 100%;
  height: 100%;
}

.imgContainerBox {
  background-color: #c4c4c4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.23;
}

.productDescriptionContainer {
  /* width: 85%; */
}

hgroup {
  font-size: 2.5rem;
}

.productName {
  font-weight: 400;
  margin-top: 1rem;
  line-height: 1;
}

.priceHeading {
  font-family: var(--font-secondary);
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.priceAmount {
  font-size: 1.5rem;
}

.productDescription {
  width: 70%;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.productDescription p,
.productDescription li {
  margin-bottom: 1.35rem;
  line-height: 1.3;
}

.productAttributesContainer {
}

.productAttributesContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.productAttributeName {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1.35rem;
}

.textAttribute[data-attribute="true"] {
  background: var(--color-dark-1);
  color: var(--color-white);
}

.swatchAttribute[data-attribute="true"] {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
  margin-left: 0.3rem;
}
