:root {
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Source Sans Pro", sans-serif;
  --color-primary: #5ece7b;
  --color-dark-1: #1d1f22;
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark-1);
}
